.logo {
  background: url("../../img/mobile/logo.png") no-repeat center;
  margin-left: 5em;
  margin-top: 10px;
  width: 205px;
  height: 90px;
  max-width: 100%;
  display: inline-block;
}
