.menu {
  position: absolute;
}
#menu__burger {
  background: url("../../img/mobile/menu-icon.png");
  width: 50px;
  height: 38px;
  position: absolute;
  top: 30px;
  text-indent: -999px;
}
